.Menu-Container {
  background-color: #131314;
  display: flex;
  height: 82vh;
  position: relative;
}

.a {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 1vh;
  /* align-items: center; */
}
.a iframe {
  height: 92%;
  width: 100%;
}