.Settings-Container {
  background-color: #131314;
  display: flex;
  height: 82vh;
  position: relative; /* Container'ı relative yaparak içindeki öğelerin absolute pozisyonlamasını sağlayabilirsiniz. */
}

.logout-button {
  position: absolute; /* Butonu tam konumlandırmak için absolute kullanın */
  bottom: 5vh;
  right: 5vh;
  width: 7vh;
  height: 3vh;
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}
