body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #131314;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Login Container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  /* LoginView ile aynı yükseklik */
  width: 36vh;
  /* LoginView ile aynı genişlik */
  background-color: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 25px;
}

/* Başlık Stili */
.login-box h2 {
  color: #fff;
  margin-bottom: 20px;
  padding-left: 16vh;
  padding-top: 4vh;
  font-size: 24px;
  font-weight: 600;
}

/* Input Stili */
.login-input {
  width: 36vh;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #333;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

.login-input:focus {
  outline: none;
  border-color: #007BFF;
  background-color: #3a3a3a;
}

/* Login Butonları */
.login-button, .google-signin-button, .microsoft-signin-button {
  width: 34vh;
  padding: 12px;
  margin-top: 15px;
  margin-left: 2vh;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Login Buton Stili */
.login-button {
  background-color: #007BFF;
}

.login-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Google Butonu Stili */
.google-signin-button {
  background-color: #db4437; /* Google kırmızısı */
}

.google-signin-button:hover {
  background-color: #c33d2f;
  transform: translateY(-2px);
}

/* Microsoft Butonu Stili */
.microsoft-signin-button {
  background-color: #2b579a; /* Microsoft mavisi */
}

.microsoft-signin-button:hover {
  background-color: #244a83;
  transform: translateY(-2px);
}

/* Hata Mesajı */
.error-message {
  color: #ff4f4f;
  font-size: 14px;
  position: absolute;
  bottom: -20px; /* Konumu formun altında sabitler */
  left: 0;
  width: 100%;
  text-align: center;
}


/* Animasyon tanımlaması */
@keyframes flip {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

/* Logo stiline animasyonu ekleyeceğiz */
.login-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #131314;
  padding: 10px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffff; /* Çerçeve rengi */
  perspective: 1000px; /* 3D dönüşüm için */
}

.login-logo img {
  width: 100%;
  height: auto;
  transition: transform 1s;
}

/* Dönüş animasyonunu CSS sınıfı ile ekleyeceğiz */
.flip-animation {
  transform: rotateY(360deg);
}
