.landing-page {
  background-image: url('./coffee-background.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: white;
  backdrop-filter: blur(3px);
  margin-top: -35vh; 
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 40px; 
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px; 
}

.btn:hover {
  background-color: #2980b9;
}
